<h1 class="container">Admin page</h1>

<section class="adminGrid container">
    
    <section class="profileDetail">
        
        <article id="<%= locals.user.id %>">
            
            <h2><%= locals.user.pseudo %></h2>
            <h3><%= locals.user.email %></h3>
            <button class="js-editProfile-button" data-profile="<%= locals.user.id %>">Edit Profile</button>
            
        </article>
        
        
    
        <form method="post" action="/logout">
            <input type="submit" value="Deconnexion">
        </form>
    
    </section>
    
    <section class="users">
        
    <h2>Gestion des clients :</h2>
    
    <table id="clientTable">
    		<thead>
    				<th>Nom</th>
    	            <th>Email</th>
    	            <th>Date inscription</th>
    		</thead>
    		<tbody >
    			<% for(let user of users) { 
    			    if(user.role != "admin") {%>
    			
        				<tr id="<%= user.id %>">
        					<td>
        						<%= user.pseudo %>
        					</td>
        					<td>
        					    <%= user.email %>
        					</td>
        					<td>
        					    <%= user.dateInscription %>
        					</td>
        					<td>
        					    <button class="js-removeClient-button" data-client="<%=user.id%>">X</button>
        					</td>
        				</tr>
    				<% }
    			} %>
    		</tbody>
    	</table>
    
    </section>

    <section class="addProduct">
        <h2>Ajouter un produit</h2>
        
        <form method="post" action="/addProductPost" enctype="multipart/form-data">
            
            <label for="name">Nom du produit</label>
            <input type="text" name="name" id="name">
            
            <label for="description">Description</label>
            <input type="text" name="description" id="description">
            
            <label for="category">Catégorie</label>
            <select name="category" id="category">
                <option value="scrapbooking" selected>Scrapbooking</option>
                <option value="digital_art">Art Numérique</option>
            </select>
            
            <label for="price">Prix</label>
            <input type="text" name="price" id="price">
            
            <label for="image">Ajouter une image :</label>
            <input type="file" name="image" id="image">
            
            <input type="submit" value="Ajouter">
            
        </form>
    </section>
    
    <section class="editProduct">
        <h2>Produit en vente :</h2>
        
        	<table id="productTable">
        		<thead>
        				<th>Nom</th>
        	            <th>Description</th>
        	            <th>Catégorie</th>
        	            <th>Prix</th>
        		</thead>
        		<tbody >
        			<% for(let produit of produits) { 
        			    if(produit.statut === "free") {%>
        			
        				<tr id="<%= produit.id %>">
        					<td>
        						<%= produit.nom %>
        					</td>
        					<td>
        					    <%= produit.description %>
        					</td>
        					<td>
        					    <%= produit.category %>
        					</td>
        					<td>
        	                    <%= produit.prix %>
        	                </td>
        	                <td>
        	                    <button class="js-removeProduit-button" data-produit="<%=produit.id%>">X</button>
        	                    <button class="js-editProduit-button" data-produit="<%=produit.id%>">Edit</button>
        	                </td>
        				</tr>
        				<% }
        			} %>
        		</tbody>
        	</table>
    </section>

    
</section>
    <section class="profileCommande">
    <h2>Gestion des commandes :</h2>
    
    <% for(let commande of commandes) { 
        if(commande.statut === "cree") { %>
    
        <article id="<%= commande.id %>" class="articleCommande">
            
            <div>
                <h3><%= commande.commande %><span class="timeStamp"><%= commande.dateCreationCommande %></span></h3>
                <p><%= commande.pseudo %></p>
                <p><%= commande.email %></p>
                
                 <% if(commande.devis != 0) { %>
                 
                    <h3>Devis pour la commande :</h3>
                    <p><%= commande.devis %></p>
                    <p><%= commande.prixCommande %></p>
                    
                
            <% } else { %>
            
                <form data-id="<%= commande.id %>">
                    
                    <input type="text" name="devis" placeholder="intitulé pour le devis">
                    <input type="text" name="devisPrix"  placeholder="prix de la commande">
                    
                    <button class="js-devis-button" data-commande="<%= commande.id %>">Générer un devis</button>
                    
                </form>
           
            
            <% } %>
            
            </div>
            
            
            <div>
            <% for(let dialogue of dialogues) {
                    if(dialogue.id != null && dialogue.idCommande === commande.id) { %>
                    
                        <p><%= dialogue.pseudo %><span class="timeStamp"><%= dialogue.dateDialogue %></span></p>
                            <p><%= dialogue.comment %></p>
                <% }
            } %>
            </div>
            <div>
                <label for="commandeDialogue">Dialoguer avec votre client :</label>
            
                <textarea name="commandeDialogue" id="commandeDialogue"></textarea>
            
                <button class="js-dialogue-button" data-transmitter="<%= locals.user.id %>" data-commande="<%= commande.id %>" data-client="<%= commande.idUser %>">Envoi</button>
                
            </div>
                
            <% } %>
                
            
            
            <button class="js-removeCommande-button" data-commande="<%= commande.id %>">Annuler la commande</button>
            
        </article>
        
    
    <% } %>
    
    </section>
    <section>
    <h2>Gestion des achats :</h2>
    <% for(let panier of achats) { %>
        <article id="<%= panier.idPanier %>">
            
            <p><%= panier.pseudoClient %></p>
            <p><%= panier.email %></p>
            
            <% for(let produit of panier.produits) { %>
                <p><%= produit.nom %></p>
                <p><%= produit.category %></p>
                <p><%= produit.prix %></p>
            <% } %>
            
            <p><%= panier.prixPanier %></p>
            
            <button class="js-closeBuying-button" data-card="<%= panier.idPanier %>">Achats livrés</button>
            
        </article>
        
    <% } %>
    
    <% for(let commande of commandes) {
        if(commande.statut === "paye") { %>
        <article id="<%= commande.id %>">
            <p><%= commande.pseudo %></p>
            <p><%= commande.email %></p>
            <p><%= commande.devis %></p>
            <p><%= commande.prix %></p>
            
            <button class="js-closeCustom-button" data-custom="<%= commande.id %>">Commande livrés</button>
            
        </article>
        
    <% }
    } %>
    </section>


