<h2>Admin page</h2>
<section>
    <article id="<%= locals.user.id %>">
        <p><%= locals.user.pseudo %></p>
        <p><%= locals.user.email %></p>
        <button class="js-editProfile-button" data-profile="<%= locals.user.id %>">Edit Profile</button>
    </article>
    
    

    <form method="post" action="/logout">
        <input type="submit" value="Deconnexion">
    </form>

</section>

<section>
    <h3>Ajouter un produit</h3>
    
    <form method="post" action="/addProductPost" enctype="multipart/form-data">
        
        <label for="name">Nom du produit</label>
        <input type="text" name="name" id="name">
        
        <label for="description">Description</label>
        <input type="text" name="description" id="description">
        
        <label for="category">Catégorie</label>
        <select name="category" id="category">
            <option value="scrapbooking" selected>Scrapbooking</option>
            <option value="digital_art">Art Numérique</option>
        </select>
        
        <label for="price">Prix</label>
        <input type="text" name="price" id="price">
        
        <label for="image">Ajouter une image :</label>
        <input type="file" name="image" id="image">
        
        <input type="submit" value="Ajouter">
        
    </form>
    
    <h3>Produit en vente :</h3>
    
    	<table id="productTable">
    		<thead>
    				<th>Nom</th>
    	            <th>Description</th>
    	            <th>Catégorie</th>
    	            <th>Prix</th>
    		</thead>
    		<tbody >
    			<% for(let produit of produits) { 
    			    if(produit.statut === "free") {%>
    			
    				<tr id="<%= produit.id %>">
    					<td>
    						<%= produit.nom %>
    					</td>
    					<td>
    					    <%= produit.description %>
    					</td>
    					<td>
    					    <%= produit.category %>
    					</td>
    					<td>
    	                    <%= produit.prix %>
    	                </td>
    	                <td>
    	                    <button class="js-removeProduit-button" data-produit="<%=produit.id%>">X</button>
    	                    <button class="js-editProduit-button" data-produit="<%=produit.id%>">Edit</button>
    	                </td>
    				</tr>
    				<% }
    			} %>
    		</tbody>
    	</table>
</section>
<section>
    <h3>Gestion des clients :</h3>
    
    <table id="clientTable">
    		<thead>
    				<th>Nom</th>
    	            <th>Email</th>
    	            <th>Date inscription</th>
    		</thead>
    		<tbody >
    			<% for(let user of users) { 
    			    if(user.role != "admin") {%>
    			
        				<tr id="<%= user.id %>">
        					<td>
        						<%= user.pseudo %>
        					</td>
        					<td>
        					    <%= user.email %>
        					</td>
        					<td>
        					    <%= user.dateInscription.toLocaleString() %>
        					</td>
        					<td>
        					    <button class="js-removeClient-button" data-client="<%=user.id%>">X</button>
        					</td>
        				</tr>
    				<% }
    			} %>
    		</tbody>
    	</table>
    
</section>
<section>
    <h3>Gestion des commandes :</h3>
    
    <% for(let commande of commandes) { %>
    
        <article id="<%= commande.id %>">
            
            <p><%= commande.dateCreationCommande.toLocaleString() %> </p>
            <p><%= commande.pseudo %></p>
            <p><%= commande.email %></p>
            <p><%= commande.commande %></p>
            
            <div>
            <% for(let dialogue of dialogues) {
                    if(commande.id === dialogue.idCommande) { %>
                    <div>
                        <p><%= dialogue.pseudo %></p>
                        <p><%= dialogue.dateDialogue.toLocaleString() %></p>
                        <p><%= dialogue.comment %></p>
                    </div>
                <% }
            } %>
            </div>
            
            <label for="commandeDialogue">Dialoguer avec votre client :</label>
            
            <textarea name="commandeDialogue" id="commandeDialogue"></textarea>
            
            <button class="js-dialogue-button" data-transmitter="<%= locals.user.id %>" data-commande="<%= commande.id %>" data-client="<%= commande.idUser %>">Envoi</button>
            
            <% if(commande.devis != 0) { %>
            
                <article>
                    <p><%= commande.devis %></p>
                    <p><%= commande.prixCommande %></p>
                </article>
                
            <% } else { %>
            
                <form method="post" action="/devisPost/<%= commande.id %>">
                    
                    <input type="text" name="devis" placeholder="intitulé pour le devis">
                    <input type="text" name="devisPrix"  placeholder="prix de la commande">
                    
                    <button class="js-devis-button">Générer un devis</button>
                    
                </form>
                
                
            <% } %>
                
            
            
            <button class="js-removeCommande-button" data-commande="<%= commande.id %>">Annuler la commande</button>
            
        </article>
        
    <% } %>
    
</section>
<section>
    <h3>Gestion des achats :</h3>
    <% for(let panier of achats) { %>
        <article id="<%= panier.idPanier %>">
            
            <p><%= panier.pseudoClient %></p>
            <p><%= panier.email %></p>
            
            <% for(let produit of panier.produits) { %>
                <p><%= produit.nom %></p>
                <p><%= produit.category %></p>
                <p><%= produit.prix %></p>
            <% } %>
            
            <p><%= panier.prixPanier %></p>
            
            <button class="js-closebuying-button" data-card="<%= panier.idPanier %>">Achats livrés</button>
            
        </article>
        
    <% } %>
</section>
