<h2>Admin page</h2>

<form method="post" action="/logout">
    <input type="submit" value="Deconnexion">
</form>

<section>
    <h3>Ajouter un produit</h3>
    
    <form method="post" action="/addProductPost">
        
        <label for="name">Nom du produit</label>
        <input type="text" name="name" id="name">
        
        <label for="description">Description</label>
        <input type="text" name="description" id="description">
        
        <label for="category">Catégorie</label>
        <select name="category" id="category">
            <option value="scrapbooking" selected>Scrapbooking</option>
            <option value="digital_art">Art Numérique</option>
        </select>
        
        <label for="price">Prix</label>
        <input type="text" name="price" id="price">
        
        <input type="submit" value="Ajouter">
        
    </form>
    
    <h3>Produit en vente :</h3>
    
    	<table id="productTable">
    		<thead>
    				<th>Nom</th>
    	            <th>Description</th>
    	            <th>Catégorie</th>
    	            <th>Prix</th>
    		</thead>
    		<tbody >
    			<% for(let produit of produits) { %>
    			
    				<tr id="<%= produit.id %>">
    					<td>
    						<%= produit.nom %>
    					</td>
    					<td>
    					    <%= produit.description %>
    					</td>
    					<td>
    					    <%= produit.category %>
    					</td>
    					<td>
    	                    <%= produit.prix %>
    	                </td>
    	                <td>
    	                    <button class="js-removeProduit-button" data-produit="<%=produit.id%>">X</i></button>
    	                    <button class="js-editProduit-button" data-produit="<%=produit.id%>">Edit</i></button>
    	                </td>
    				</tr>
    				
    			<% } %>
    		</tbody>
    	</table>
</section>
<section>
    <h3>Gestion des clients :</h3>
    
    <table id="clientTable">
    		<thead>
    				<th>Nom</th>
    	            <th>Email</th>
    	            <th>Date inscription</th>
    		</thead>
    		<tbody >
    			<% for(let user of users) { 
    			    if(user.role != "admin") {%>
    			
        				<tr id="<%= user.id %>">
        					<td>
        						<%= user.pseudo %>
        					</td>
        					<td>
        					    <%= user.email %>
        					</td>
        					<td>
        					    <%= user.dateInscription.toLocaleString() %>
        					</td>
        					<td>
        					    <button class="js-removeClient-button" data-client="<%=user.id%>">X</i></button>
        					</td>
        				</tr>
    				<% }
    			} %>
    		</tbody>
    	</table>
    
</section>
<section>
    <h3>Gestion des commandes :</h3>
    
    <% for(let commande of commandes) { %>
    
        <article id="<%= commande.id %>">
            
            <p><%= commande.dateCommande.toLocaleString() %> </p>
            <p> <%= commande.pseudo %></p>
            <p> <%= commande.email %></p>
            <p><%= commande.commande %></p>
            
            <% for(let dialogue of dialogues) {
                    if(commande.id === dialogue.idCommande) { %>
                    <p><%= dialogue.pseudo %></p>
                    <p><%= dialogue.dateDialogue.toLocaleString() %></p>
                    <p><%= dialogue.comment %></p>
                <% }
            } %>
            
            <label for="commandeDialogue">Dialoguer avec votre client :</label>
            
            <textarea name="commandeDialogue" id="commandeDialogue"></textarea>
            
            <button class="js-adminDialogue-button" data-transmitter="<%= locals.idAdmin %>" data-commande="<%= commande.id %>" data-client="<%= commande.idUser %>">Envoi</button>
            
        </article>
        
    <% } %>
    
</section>
