
<section>
    <h2>Art numérique</h2>
    <% for(let produit of produits) {
        if(produit.statut === "free") {%>
    
    <article id="<%= produit.id %>">
        <img src="<%= produit.img %>" alt="<% produit.nom %>" >
        <p><%= produit.nom %></p>
        <p><%= produit.description %></p>
        <p><%= produit.prix %></p>
        
        <% if(locals.user.role === "client" && (produit.idUserPanier != locals.user.id)){ %>
        
        <button class="js-addProduit-button" data-addProduct = "<%= produit.id %>" data-addClient="<%= locals.user.id %>">Ajouter au panier</button>
        
        <% } %>
        
    </article>
        <% }
    } %>
    
</section>

<% if(locals.user.role === "client") { %>

<section>
    <h2>Commande</h2>
    
    <form method="post" action="/order/<%= locals.user.id %>">
        
        <label for="orderDigitalArt">Faite une commande personalisée!</label>
        <textarea name="orderDigitalArt" id="orderDigitalArt" placeholder="formulez votre souhait"></textarea>
        
        <input type="submit" lavue="Envoyer">
        
    </form>
</section>

<% } %>
