<h1 class="container">Créer votre compte où inscrivez-vous :</h1>
<section class="container">
    <h2>Connexion</h2>
    
    <% if(errorForm.loginFail) { %>
        <div><%= errorForm.loginFail %></div>
    <% } %>
    
    <form method="post" action="/login/post" autocomplete="on">
        
        <fieldset>
            <legend>Connectez-vous à votre espace :</legend>
            
            <label for="loginEmail">Adresse mail:</label>
            <input type="email" name="loginEmail" id="loginEmail" autocomplete="on">
             <% if(errorForm.loginEmail) { %>
                    <div><%= errorForm.loginEmail %></div>
                <% } %>
            
            <label for="loginMdp">Mot de passe:</label>
            <input type="password" name="loginMdp" id="loginMdp" autocomplete="on">
             <% if(errorForm.loginMdp) { %>
                    <div><%= errorForm.loginMdp %></div>
                <% } %>
            
            <input type="submit" value="Valider">
            
        </fieldset>
    </form>
    
</section>

<section class="container">

    <h2>Inscription</h2>
    <form method="post" action="/sign_in/post" autocomplete="on">
        <fieldset>
            <legend> Pas de compte ?</legend>
            
                <label for="pseudo">Nom:</label>
                <input type="text" name="pseudo" id="pseudo" autocomplete="on">
                <% if(errorForm.name) { %>
                    <div><%= errorForm.name %></div>
                <% } %>
                
                <label for="email">Adresse mail:</label>
                <input type="email" name="email" id="email" autocomplete="on">
                <% if(errorForm.email) { %>
                    <div><%= errorForm.email %></div>
                <% } %>
                
                <label for="mdp">Mot de passe:</label>
                <input type="password" name="mdp" id="mdp" autocomplete="on">
                <% if(errorForm.mdp) { %>
                    <div><%= errorForm.mdp %></div>
                <% } %>
                
                <input type="submit" value="Valider">
             
            </fieldset>
    </form>

</section>
