<h2>Profile page</h2>

<form method="post" action="/logout">
    <input type="submit" value="Deconnexion">
</form>

<section>
    <H3>Panier</H3>
    
    <% for(let produit of produits) { %>
        <article id="<%= produit.id %>">
        <p><%= produit.nom %></p>
        <p><%= produit.prix %></p>
        <p><button class="js-removeProduitPanier-button" data-produit="<%= produit.id %>">X</button> </p>
    </article>
    <% } %>
    
    <p>Prix total : <%= prixPanier %> </p>
</section>

<section>
    <h3>Mes commandes</h3>
    
    <% for(let comment of comments) { %>
    
    <article>
        <p> <%= comment.dateComment.toLocaleString() %></p>
        <p> <%= comment.comment %></p>
    </article>
    
    <% } %>
    
</section>