<h1 class="container">Mon profil : </h1>

<section class="profileGrid container">
    
    <section class="profileDetail">
        
        <article id="<%= locals.user.id %>">
            
            <h2><%= locals.user.pseudo %></h2>
            <h3><%= locals.user.email %></h3>
            <button class="js-editProfile-button" data-profile="<%= locals.user.id %>">Edit Profile</button>
            
        </article>
        
    
        <form method="post" action="/logout">
            <input type="submit" value="Deconnexion">
        </form>
        
        <form method="post" action="/deleteProfile/<%= locals.user.id %>">
            <input type="submit" value="Suprimer le compte">
        </form>
    
    </section>
    
    <section class="profilePanier">
        <H2>Panier</H2>
        
        <% for(let produit of produits) { 
            if(produit.statut === "free") { %>
            
            <article id="<%= produit.id %>" class="articlePanier">
                
            <h3><%= produit.nom %></h3>
            <p><%= produit.prix %></p>
            <p><button class="js-removeProduitPanier-button" data-produit="<%= produit.id %>">Retirer</button> </p>
            
        </article>
            <% }
        } %>
        
        <p class="price">Prix total : <%= prixPanier %> </p>
        
        <% if(prixPanier) { %>
        
            <form method="post" action="/buy/<%= locals.user.id %>">
                <input type="submit" value="Acheter">
            </form>
        
        <% } %>
        
    </section>
    
    <section class="profileCommande">
        <h2>Mes commandes</h2>
        
        <% for(let commande of commandes) {
            if(commande.statut === "cree") { %>
        
            <article id="<%= commande.id %>" class="articleCommande">
                <div>
                    
                    <h3><%= commande.commande %></h3>
                    
                    <% if(commande.devis != 0) { %>
                    
                        
                        <h3>Devis pour la commande :</h3>
                    
                        <p><%= commande.devis %></p>
                        <p><%= commande.prixCommande %></p>
                        
                        <form method="post" action="/buyCustom/<%= locals.user.id %>">
                            <input type="submit" value="Acheter">
                        </form>
                        
                    <% } %>
                </div>
            
            
                <div>
                    
                    <% for(let dialogue of dialogues) {
                         if(dialogue.id != null && dialogue.idCommande === commande.id) { %>
                         
                            <p><%= dialogue.pseudo %><span class="timeStamp"><%= dialogue.dateDialogue %></span></p>
                            <p><%= dialogue.comment %></p>
                    <% }
                    } %>
                </div>
            
                <div>
               
                    <label for="commandeDialogueClient">Dialoguer avec l'artiste :</label>
                            
                    <textarea name="commandeDialogueClient" id="commandeDialogueClient"></textarea>
                            
                    <button class="js-dialogue-button"  data-transmitter="<%= locals.user.id %>" data-commande="<%= commande.id %>" data-client="<%= commande.idUser %>">Envoi</button>
                
                </div>
            
                <button class="js-removeCommande-button" data-commande="<%= commande.id %>">Annuler la commande</button>
    
            
            </article>
            
        <% }
        } %>
    
    </section>
    <section class="profileAchats">
        <h2>Mes achats</h2>
        
            <% for(let panier of paniers) { 
                if(panier.statut != "cree") { %>
                
                <article id="<%= panier.id %>">
                    <p><%= panier.dateCloture %></p>
                    
                    <% if(panier.statut != "livre") { %>
                        <p>Merci pour votre achat ! Nous préparons votre livraison.</p>
                    <% } %>
                    
                    <form method="get" action="/downloadPDF/<%= panier.id %>">
                        <p><button>Facture</button></p>
                    </form>
          
                </article>
                
                
                <% }
            } %>
            
      
            
            <% for (let commande of commandes) {
                if(commande.statut != "cree") { %>
                
                <article id="<%= commande.id %>">
                    
                    <p><%= commande.dateClotureCommande %></p>
                    
                    <% if(commande.statut != "livre") { %>
                        <p>Merci pour votre achat ! Nous préparons votre livraison.</p>
                    <% } %>
                    
                    <form method="get" action="/downloadPDF/<%= commande.id %>">
                        <p><button>Facture</button></p>
                    </form>
                
                </article>
                <% }
            } %>
            
        
    </section>
</section>