<h2>Profile page : </h2>

<form method="post" action="/logout">
    <input type="submit" value="Deconnexion">
</form>

<section>
    <H3>Panier</H3>
    
    <% for(let produit of produits) { %>
        <article id="<%= produit.id %>">
        <p><%= produit.nom %></p>
        <p><%= produit.prix %></p>
        <p><button class="js-removeProduitPanier-button" data-produit="<%= produit.id %>">X</button> </p>
    </article>
    <% } %>
    
    <p>Prix total : <%= prixPanier %> </p>
</section>

<section>
    <h3>Mes commandes</h3>
    
    <% for(let commande of commandes) { %>
    
        <article id="<%= commande.id %>">
            <p> <%= commande.dateCommande.toLocaleString() %></p>
            <p> <%= commande.commande %></p>
        
        
        <div>
        <% for(let dialogue of dialogues) { %>
            
            
                <p><%= dialogue.pseudo %></p>
                <p><%= dialogue.dateDialogue.toLocaleString() %></p>
                <p><%= dialogue.comment %></p>
            
        <% } %>
        </div>
       
        <label for="commandeDialogueClient">Dialoguer avec l'artiste :</label>
                
        <textarea name="commandeDialogueClient" id="commandeDialogueClient"></textarea>
                
        <button class="js-clientDialogue-button"  data-transmitter="<%= locals.idClient %>" data-commande="<%= commande.id %>" data-client="<%= commande.idUser %>">Envoi</button>
        
        </article>
        
    <% } %>

</section>