<section>
    <h2>Scrapbooking</h2>
    <% for(let produit of produits) { %>
    <article id="<%= produit.id %>">
        <p><%= produit.nom %></p>
        <p><%= produit.description %></p>
        <p><%= produit.prix %></p>
        
        
        <button class="js-addProduit-button" data-addProduct = "<%= produit.id %>" data-addClient="<%= locals.idClient %>">Ajouter au panier</button>
        
    </article>
    <% } %>
</section>

