<section>
    
    <h2>Scrapbooking</h2>
    
    <% for(let produit of produits) { 
        if(produit.statut === "free") {%>
        
       <article id="<%= produit.id %>">
           <img src="<%= produit.img %>" alt="<%= produit.nom %>" >
            <p><%= produit.nom %></p>
            <p><%= produit.description %></p>
            <p><%= produit.prix %></p>
        
        <% if((locals.user.role === "client") && (produit.idUserPanier != locals.user.id)) { %>
        
        <button class="js-addProduit-button" data-addProduct = "<%= produit.id %>" data-addClient="<%= locals.user.id %>">Ajouter au panier</button>
        
        <% } %>
    
    </article>
        <% }
    
    } %>
    
</section>

<% if(locals.user.role === "client") { %>

<section>
    <h2>Commande</h2>
    
    <form>
        
        <label for="orderScrapbooking">Faite une commande personalisée!</label>
        <textarea name="orderScrapbooking" id="orderScrapbooking" placeholder="formulez votre souhait" class="customOrderArea"></textarea>
        
        <input type="submit" value="Envoyer" class="js-customOrder-button" data-userId="<%= locals.user.id %>">
        
    </form>
</section>

<% } %>

